.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #ffffff;
  transition: color 250ms ease-in-out;
}

.link:hover,
link:active {
  color: #edf10a;
}
